* {
    box-sizing: border-box;
}

main {
    background-color: #1A1B21;
    width: 317px;
    border-radius: 10px;
    box-shadow: 3px 7px 10px 4px rgb(23, 23, 23);
    
}

body {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #23252C;
    width: fit-content;

}

.mandeep {
    border-radius: 10px 10px 0px 0px;
    width: 317px;
    height: 317px;
    object-fit: cover;
    object-position: center 30%;
}

.links {
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 30px;
}

.links li a img {
    margin: 20px 0;
    width: 25px;
}

footer {
    border-radius: 10px;
    background-color: #161619;
}